:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

#thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#thankyou .window {
    background-color: var(--second-bg-color);
    border-radius: 50px;
    box-shadow: 0 0 1rem var(--main-color);
}

#thankyou .window .text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

#thankyou .window h1 {
    color: var(--main-color);
    font-size: 7rem;
}

#thankyou .window p {
    font-size: 1.7rem;
    padding: 15px 0;
}